In [22]:
import pandas as pd

In [23]:
data_df = pd.read_csv("DOB_Job_Application_Filings.csv", sep = ',', engine = 'python')

In [24]:
data_df.head()

,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,Job Status,...,SPECIAL_ACTION_STATUS,SPECIAL_ACTION_DATE,BUILDING_CLASS,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN
0,440673497,1,QUEENS,215-02,93 AVENUE,10618,00028,4226672,A2,R,...,N,NaN,A1,0,40.720067,-73.742696,23.0,542.0,Queens Village,4226672.0
1,440673512,1,QUEENS,10040,222 STREET,10780,00019,4231025,A2,R,...,N,NaN,A1,0,40.714365,-73.731171,27.0,568.0,Queens Village,4231025.0
2,421133972,2,QUEENS,88-36,139TH STREET,09620,00033,4623670,NB,P,...,N,NaN,G7,0,40.703428,-73.813796,24.0,214.0,Briarwood-Jamaica Hills,NaN
3,421133972,3,QUEENS,88-36,139TH STREET,09620,00033,4623670,NB,P,...,N,NaN,G7,0,40.703428,-73.813796,24.0,214.0,Briarwood-Jamaica Hills,NaN
4,210182309,2,BRONX,97,WEST 169 STREET,02519,00027,2130622,NB,P,...,N,NaN,V0,0,40.839538,-73.923177,16.0,211.0,Highbridge,NaN

In [25]:
data_df["Fully Permitted"]

0          05/05/2021
1          05/21/2021
2                 NaN
3                 NaN
4                 NaN
              ...
1774828    12/01/2005
1774829    01/19/2006
1774830    12/05/2005
1774831           NaN
1774832    01/23/2007
Name: Fully Permitted, Length: 1774833, dtype: object

In [26]:
start_date = "01/01/2019"

In [27]:
end_date = "11/22/2021"

In [28]:
after_start_date = data_df["Fully Permitted"] >= start_date

In [29]:
before_end_date = data_df["Fully Permitted"] <= end_date

In [30]:
between_two_dates = after_start_date & before_end_date

In [31]:
filtered_dates = data_df.loc[between_two_dates]

In [32]:
print(filtered_dates)

             Job #  Doc #   Borough House #        Street Name  Block    Lot  \
0        440673497      1    QUEENS  215-02          93 AVENUE  10618  00028
1        440673512      1    QUEENS   10040         222 STREET  10780  00019
7        340810947      1  BROOKLYN     770         RUGBY ROAD  06688  00034
8        340810910      1  BROOKLYN      39       RUTLAND ROAD  05034  00090
10       340810956      1  BROOKLYN     200       LINCOLN ROAD  05029  00018
...            ...    ...       ...     ...                ...    ...    ...
1774823  302042803      1  BROOKLYN    1211     BEDFORD AVENUE  01837  00006
1774826  302042830      1  BROOKLYN     120  NORTH    7 STREET  02326  00019
1774827  302042849      1  BROOKLYN      63      TIFFANY PLACE  00320  07502
1774829  302042867      1  BROOKLYN     313          76 STREET  05940  00078
1774832  302042894      1  BROOKLYN      52    LOMBARDY STREET  02834  00034

           Bin # Job Type Job Status  ... SPECIAL_ACTION_STATUS  \
0        4226672       A2          R  ...                     N
1        4231025       A2          R  ...                     N
7        3178977       A2          R  ...                     N
8        3115124       A2          R  ...                     N
10       3114725       A2          X  ...                     N
...          ...      ...        ...  ...                   ...
1774823  3052568       DM          R  ...                     N
1774826  3392439       NB          X  ...                     N
1774827  3003593       A2          X  ...                     N
1774829  3148750       A2          R  ...                     N
1774832  3069864       A2          X  ...                     N

        SPECIAL_ACTION_DATE BUILDING_CLASS JOB_NO_GOOD_COUNT GIS_LATITUDE  \
0                       NaN             A1                 0    40.720067
1                       NaN             A1                 0    40.714365
7                       NaN             A1                 0    40.630504
8                       NaN             B3                 0    40.658878
10                      NaN             A5                 0    40.661240
...                     ...            ...               ...          ...
1774823                 NaN             V1                 0    40.681880
1774826                 NaN             R0                 0    40.718816
1774827                 NaN             R0                 0    40.686709
1774829                 NaN             B1                 0    40.630611
1774832                 NaN             E1                 0    40.722087

        GIS_LONGITUDE GIS_COUNCIL_DISTRICT GIS_CENSUS_TRACT  \
0          -73.742696                 23.0            542.0
1          -73.731171                 27.0            568.0
7          -73.963353                 45.0            528.0
8          -73.959067                 40.0          79801.0
10         -73.955847                 40.0            800.0
...               ...                  ...              ...
1774823    -73.953605                 36.0            245.0
1774826    -73.959311                 33.0            555.0
1774827    -74.000898                 39.0             47.0
1774829    -74.027435                 43.0             66.0
1774832    -73.939063                 34.0            449.0

                                     GIS_NTA_NAME    GIS_BIN
0                                  Queens Village  4226672.0
1                                  Queens Village  4231025.0
7                                        Flatbush  3178977.0
8               Prospect Lefferts Gardens-Wingate  3115124.0
10              Prospect Lefferts Gardens-Wingate  3114725.0
...                                           ...        ...
1774823                                   Bedford  3000000.0
1774826                     North Side-South Side  3392439.0
1774827  Carroll Gardens-Columbia Street-Red Hook  3003593.0
1774829                                 Bay Ridge  3148750.0
1774832                         East Williamsburg  3069864.0

[1189607 rows x 96 columns]

In [33]:
filtered_dates.columns

Index(['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Applicant's First Name', 'Applicant's Last Name',
       'Applicant Professional Title', 'Applicant License #',
       'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Owner Type', 'Non-Profit', 'Owner's First Name',
       'Owner's Last Name', 'Owner's Business Name', 'Owner's House Number',
       'Owner'sHouse Street Name', 'City ', 'State', 'Zip', 'Owner'sPhone #',
       'Job Description', 'DOBRunDate', 'JOB_S1_NO',
       'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
       'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
       'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
       'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN'],
      dtype='object')

In [34]:
proposed_over_seven = filtered_dates['Proposed No. of Stories'] >= 7

In [35]:
exisiting_over_seven = filtered_dates['ExistingNo. of Stories'] >= 7

In [36]:
over_seven = proposed_over_seven & exisiting_over_seven

In [37]:
job_market_19_21 = filtered_dates.loc[over_seven]

In [38]:
job_market_19_21.head()

,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,Job Status,...,SPECIAL_ACTION_STATUS,SPECIAL_ACTION_DATE,BUILDING_CLASS,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN
47,440673610,1,QUEENS,1047,BEACH 21 STREET,15705,00069,4622929,A2,R,...,N,NaN,V8,0,40.603358,-73.753866,31.0,100802.0,Far Rockaway-Bayswater,4000000.0
77,141001886,1,MANHATTAN,15,WEST 63 STREET,01116,07502,1027467,A3,R,...,N,NaN,R0,0,40.770760,-73.980638,6.0,149.0,Lincoln Square,1027467.0
87,110122260,1,MANHATTAN,1,WILLIAM STREET,00029,00036,1078995,A2,X,...,N,NaN,O3,0,40.704827,-74.009792,1.0,9.0,Battery Park City-Lower Manhattan,1078995.0
95,110360966,1,MANHATTAN,1,WILLIAM STREET,00029,00036,1078995,A2,X,...,N,NaN,O3,0,40.704827,-74.009792,1.0,9.0,Battery Park City-Lower Manhattan,1078995.0
108,120483921,1,MANHATTAN,333,EAST 38TH STREET,00944,00022,1021925,A2,X,...,N,NaN,R0,0,40.746756,-73.972727,4.0,78.0,Murray Hill-Kips Bay,1021925.0

In [39]:
job_market_19_21['ExistingNo. of Stories']

47         10
77         40
87         11
95         11
108        12
           ..
1763092     8
1765560     7
1766596    14
1768807    37
1769754    12
Name: ExistingNo. of Stories, Length: 253276, dtype: int64

In [40]:
# At this point, I have filtered by jobs that have been fully permitted by January 1st 2019 & 
# Have a proposed or existing no. of stories greater than 7. 
# How else can/should I filter this ?

In [49]:
bool_series = pd.isnull(job_market_19_21[["GIS_LATITUDE", "GIS_LONGITUDE",'Street Name']])

In [50]:
job_market_19_21[bool_series]

,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,Job Status,...,SPECIAL_ACTION_STATUS,SPECIAL_ACTION_DATE,BUILDING_CLASS,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1765560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1766596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1768807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1769754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#import folium

In [43]:
#job_locations = job_market_19_21[["GIS_LATITUDE", "GIS_LONGITUDE",'Street Name']]

In [48]:
#map = folium.Map(location=[job_locations.Latitude.mean(),job_locations.Longitude.mean()]),zoom_start=14, control_scale=True